.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#courses {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

    #courses td, #courses th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #courses tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #courses tr:hover {
        background-color: #ddd;
    }

    #courses th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
    }